{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
<style>
body {
    align-items: center;
    background-color: #eee;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
}
form {
    background-color: #fff;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
input {
    margin-bottom: 1rem;
}
</style>
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="admin" required autofocus>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" value="Q1w2e3r4" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <label>
                <input type="checkbox" name="_remember_me" checked>
                Keep me logged in
            </label>
        #}

        <button type="submit">Login</button>
    </form>
{% endblock %}
