{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Dashboard{% endblock %}

{% block main %}
<div class="row">
    <div class="col-8">
        {{ render_chart(chart) }}
    </div>
    <div class="col-4">
        <h2>Total: ${{ total }}</h2>
    </div>
</div>
{% endblock %}
