.form-fieldset--no-labels .field-label {
    display: none;
}

.actions .btn {
    --button-bg: none;
    --button-border-width: 0;
    --button-box-shadow: none;
    --button-color: var(--link-color);
    --button-hover-bg: none;
    --button-hover-color: var(--link-hover-color);
    --button-padding-x: 0;
    --button-padding-y: 0;
}
.actions .btn .icon {
    display: none;
}
