{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if (field.value is empty) %}
    <span>-</span>
{% elseif (ea.crud.currentAction == 'index') %}
    <span>{{ field.value | length }} deposit(s)</span>
{% else %}
    <ul class="ps-3 mb-0">
        {% for deposit in field.value %}
            <li>
                <a href="{{
                    ea_url()
                        .setController('App\\Controller\\Admin\\DepositCrudController')
                        .setAction('detail')
                        .setEntityId(deposit.id)
                }}">
                    {{ deposit }} - {{ deposit.amount | price(deposit.balance.currency.format) }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
